body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  background-image: url("https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?cs=srgb&dl=pexels-pixmike-413195.jpg&fm=jpg");
}

div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border: 6px red solid;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}
p {
  color: red;
}