body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  background-image: url("https://t4.ftcdn.net/jpg/01/01/78/03/360_F_101780352_I3bDsI4PGZ8hSOYxnknHS1vNp5cWokfw.jpg");
}

div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(235, 239, 221);
  border: 15px red groove;
}

img {
  background-size:cover;
  background-color: whitesmoke;
  background-image: url("https://img.freepik.com/iconos-gratis/pokebola_318-331350.jpg");
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border: 5px black;
  border-style: double;
  margin: 0px 20px;
}
h2 {
  background-color: red;
  color: whitesmoke;
  padding: 10px 40px;
}
p {
  color: red;
  font-size: 20px;
  font-weight: bolder;

}